{% extends 'base.html' %} 

{% block title %} 
Добавление оборудования
{% endblock %} 

{% block body %}

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3 shadow">
        <h4 class="text-center">Добавление оборудования для {{process}}</h4>
        <div class="row align-items-md-stretch">
            <form class="col-md-3" method="post">
                <div class="col-sm-12">
                    <label for="equipment" class="form-label">Оборудование</label>
                    <input type="text" class="form-control" name="equipment" required>
                </div>
                <div class="py-3">
                    <button class="btn btn-m btn-primary btn-block" type="submit" name="btn" value="add"> Добавить </button>
                </div>
            </form>
            <div class="col-md-9">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Процесс</th>
                        <th scope="col">Оборудование</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for process, equipment in equipments %}
                        <tr>
                        <th scope="row" name="table_id">{{equipment.id}}</th>
                        <td name="process_name">{{process.process}}</td>
                        <td name="equipment_name">{{equipment.main}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
    </div>
    <a class="btn btn-primary btn-sm" href="/{{process}}">Назад</a>
</div>

{% endblock %}