<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/"> 
    <title>{% block title %}{% endblock %}</title>
  </head>
<body>
  <div class="py-2 container d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <span class="fs-4">Web API ТПП</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="nav__link" href="/">Главная</a>
        <a class="nav__link" href="/form">Заполнить отчет</a>
        <a class="nav__link" href="/config_tpp">Конфигуратор</a>
        {% if current_user.is_anonymous %}
        <a class="nav__link" href="/login">Войти</a>
        {% else %}
        <a class="nav__link" href="/logout">Выйти</a>
        {% endif %}
      </nav>
    </div>
{% block body %}{% endblock %}

</body>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="text-center row">
      <div class="col-6 col-md">
        <h5>GSN</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Pre-Assembly</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Attach Print</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Wire Bond</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Molding</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Ball Placing</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Singulation</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Test</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Personalization</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">MSP</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>LED</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Attach Print </a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Wire bond</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Silicone</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Singulation</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Binning test</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Taping</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Config</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/config_tpp">Tpp</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/config_user">Users</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/add_materials">Materials</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/add_process">Process</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/add_equipment">Equipment</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/add_tool">Tool</a></li>
        </ul>
      </div>
    </div>
</footer>
</html>