<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/"> 
    <title>{% block title %}{% endblock %}</title>
  </head>
<body>
  <div class="py-2 container d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <span class="fs-4">Web ТПП</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="nav__link" href="/">Главная</a>
        <a class="nav__link" href="/config_tpp">Конфигуратор</a>
        {% if current_user.is_anonymous %}
        <a class="nav__link" href="/login">Войти</a>
        {% else %}
        <a class="nav__link" href="/logout">Выйти</a>
        {% endif %}
      </nav>
    </div>
{% block body %}{% endblock %}

</body>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="text-center row">
        {% for item in branch_footer %}   
        <div class="col-6 col-md">
            <h5>{{item.branch}}</h5>
            <ul class="list-unstyled text-small">
                {% for i in process_footer %}
                {% if i.branch == item.branch %}
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/{{i.process}}">{{i.process}}</a></li>
                {% endif%}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
      <div class="col-6 col-md">
        <h5>Config</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ url_for('.config_tpp') }}">Tpp</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ url_for('.config_user') }}">Users</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ url_for('.add_process') }}">Process</a></li>
        </ul>
      </div>
    </div>
</footer>
</html>