{% extends 'base.html' %}

{% block title %}
Выбор типа ТПП
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Стадии ТПП {{product}}</h1>


<div class="container py-4">
  <div class="row align-items-md-stretch">
    {% for el in tpp_config %}
    <div class="col-md-6 py-4m">
      <a class="product_tpp shadow" href='/tpp_report/{{product}}/{{el}}'>
        <h2>{{el}}</h2>
        <p>Информация по {{el}}.</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="py-4 text-center">
  <a class="btn btn-lg btn-primary btn-block" href="/tpp_report"> Назад </a>
</div>

</div>

{% endblock %}
