{% extends 'base.html' %}

{% block title %}
Редактирование
{% endblock %}

{% block body %}

               
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3 shadow">
        <div class="row align-items-md-stretch">
            <form class="row g-3" method="post">
                <h4>Редактирование ТПП</h4>
                 <div class="col-sm-4">   
                    <label for="change_id" class="form-label">ID ТПП</label>
                    <select class="form-select" name="change_id" id="change_id" required>
                        <option></option>
                        {% for item in tpp_config %}
                        <option>{{item.id}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="change_product" class="form-label">Наименование продукта</label>
                    <input type="text" class="form-control" name="change_product" id="change_product">      
                </div>
                <div class="col-sm-4">   
                    <label for="change_tpp_stage" class="form-label">Этап ТПП</label>
                    <select class="form-select" name="change_tpp_stage" id="change_tpp_stage">
                        <option></option>
                        <option>ТПП единичных изделий</option>
                        <option>ТПП серийных изделий</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="change_number" class="form-label">Номер ТПП</label>
                    <input type="text" class="form-control" name="change_number" id="change_number">
                </div>
                <div class="col-sm-4">
                    <label for="change_owner" class="form-label">Фамилия менеджера проекта</label>
                    <input type="text" class="form-control" name="change_owner" id="change_owner">
                </div>
                <div class="col-sm-4">   
                    <label for="change_comment" class="form-label">Комментарий</label>
                    <input type="text" class="form-control" name="change_comment" id="change_comment">
        
                    <div class="py-3">
                        <button class="btn btn-m btn-primary btn-block" type="submit"> Редактировать </button>
                    </div>     
                </div>
            </form>   
            <hr class="my-4">
            <div class="col-md-12">   
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Наименование продукта</th>
                        <th scope="col">Стадия ТПП</th>
                        <th scope="col">Номер ТПП</th>   
                        <th scope="col">Менеджер</th>   
                        <th scope="col">Комментарий</th>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in tpp_config %}
                        <tr> 
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.prod_name}}</td>
                        <td>{{item.tpp_stage}}</td>
                        <td>{{item.number}}</td>
                        <td>{{item.owner}}</td>
                        <td>{{item.comment}}</td>            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>    
         </div>      
    </div>
</div>


{% endblock %}
