{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}


<div class="container py-5">
    <div class="row align-items-md-stretch">
        <form class="col-md-12" method="post">
            <div class="h-100 p-3 text-white bg-dark rounded-3 shadow" >
                <h3>Фильтр</h3>
                <div class="row g-3">
                    <div class="col-sm-4">
                        <label for="list_product" class="form-label">Продукт</label>
                        <select class="form-select" name="list_product" id="list_product" required>
                            <option></option>
                            {% for i in data_product %}
                            <option>{{i.prod_sum}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">    
                        <label for="list_process" class="form-label">Процесс</label>
                        <select class="form-select" name="list_process" id="list_process">
                            <option></option>
                            {% for tpp, process in data_process %}
                            <option>{{process.process}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="py-3">
                        <button class="btn btn-m btn-primary btn-block" type="submit"> Применить </button>
                    </div>
                </div>   
            </div>
        </form>
      
        <div class="col-md-12">
            <div class="h-100 p-3 bg-light border rounded-3 shadow">
                <div class="container-fluid py-3">
                    <h2 class="text-center">Отчет запуска нового изделия</h2>
                    <h4 class="text-center py-4m">{{prod_name}}</h4>
                        <p>Общее кол-во на входе: {{sum_qty[0]}} шт.</p>
                        <p>Общее кол-во на выходе: {{sum_qty[1]}} шт. </p>
                        {% if sum_qty[0] == None %}
                        <p>Общее кол-во дефектов: None шт.</p>
                        {% else %}
                        <p>Общее кол-во дефектов: {{sum_qty[0]-sum_qty[1]}} шт.</p>
                        {% endif %}
                        {% if sum_qty[0] == None %}
                        <p>Yield loss: None шт.</p>
                        {% else %}
                        <p>Yield loss: {{'%.2f' %((sum_qty[0]-sum_qty[1])/sum_qty[0]*100)}} %.</p>
                        {% endif %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">#id</th>
                                <th scope="col">owner</th>
                                <th scope="col">Процесс</th>
                                <th scope="col">№ лота</th>
                                <th scope="col">Вход</th>
                                <th scope="col">Выход</th>
                                <th scope="col">Дефекты</th>
                                <th scope="col">Рецепт</th> 
                                <th scope="col">Материал</th>
                                <th scope="col">Оборудование</th>
                                <th scope="col">Риски</th>  
                                <th scope="col">Комментарий</th>            
                                </tr>
                            </thead>
                            <tbody>
                                {% for tpp, process, user, materials, equipment, tool in result_table %}
                                <tr> 
                                <th scope="row">{{tpp.id}}</th>
                                <td>{{user.login}}</td>
                                <td>{{process.process}}</td>
                                <td>{{tpp.lot_name}}</td>
                                <td>{{tpp.qty_in}}</td>
                                <td>{{tpp.qty_out}}</td>
                                <td>{{tpp.defects}}</td>
                                <td>{{tpp.recipe}}</td>
                                <td>{{materials.material}}</td>
                                <td>{{equipment.main}} / {{tool.tool}}</td>
                                <td>{{tpp.risk}}</td>
                                <td>{{tpp.comment}}</td>                       
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
