{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row align-items-md-stretch">
        <form class="col-md-3" method="post">
            <div class="h-100 p-3 text-white bg-dark rounded-3 shadow" >
                <h3>Фильтр</h3>
                <div class="col-sm-12">
                    <label for="list_product" class="form-label">Продукт</label>
                    <select class="form-select" name="list_product" id="list_product" required>
                        <option></option>
                        {% for i in product_list %}
                        <option>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12">   
                    <label for="list_tpp_stage" class="form-label">Этап ТПП</label>
                    <select class="form-select" name="list_tpp_stage" id="list_tpp_stage" required>
                        <option></option>
                        <option>ТПП единичных изделий</option>
                        <option>ТПП серийных изделий</option>
                    </select>
                </div>
                <div class="col-sm-12">    
                    <label for="list_process" class="form-label">Процесс</label>
                    <select class="form-select" name="list_process" id="list_process">
                        <option></option>
                        {% for i in process_list %}
                        <option>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="py-3">
                    <button class="btn btn-m btn-primary btn-block" type="submit"> Применить </button>
                </div>
            </div>
        </form>
      
        <div class="col-md-9">
            <div class="h-100 p-3 bg-light border rounded-3 shadow">
                <div class="container-fluid py-3">
                    <h2 class="text-center">Отчет запуска нового изделия</h2>
                    <h4 class="text-center py-4m">{{product}}</h4>
                        <p>Общее кол-во на входе: {{sum_qty[0]}} шт.</p>
                        <p>Общее кол-во на выходе: {{sum_qty[1]}} шт. </p>
                        {% if sum_qty[0] == None %}
                        <p>Общее кол-во дефектов: None шт.</p>
                        {% else %}
                        <p>Общее кол-во дефектов: {{sum_qty[0]-sum_qty[1]}} шт.</p>
                        {% endif %}
                        {% if sum_qty[0] == None %}
                        <p>Yield loss: None шт.</p>
                        {% else %}
                        <p>Yield loss: {{'%.2f' %((sum_qty[0]-sum_qty[1])/sum_qty[0]*100)}} %.</p>
                        {% endif %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">#id</th>
                                <th scope="col">Процесс</th>
                                <th scope="col">№ лота</th>
                                <th scope="col">Входе</th>
                                <th scope="col">Выходе</th>
                                <th scope="col">Дефекты</th>
                                <th scope="col">Рецепт</th> 
                                <th scope="col">Материал</th>
                                <th scope="col">Оснастка</th>
                                <th scope="col">Комментарий</th>            
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in resume %}
                                <tr> 
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.process}}</td>
                                <td>{{item.lot_name}}</td>
                                <td>{{item.qty_in}}</td>
                                <td>{{item.qty_out}}</td>
                                <td>{{item.defects}}</td>
                                <td>{{item.recipe}}</td>
                                <td>{{item.materials}}</td>
                                <td>{{item.tool_name}}</td>
                                <td>{{item.comment}}</td>            
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
