{% extends 'base.html' %}

{% block title %}
{{uniq_process}}
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>{{uniq_process}}</h1>


<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3 shadow">
    <div class="container-fluid py-3">
      <h2>Отчет запуска нового изделия</h2>
      <h4>{{product}}</h3>
        <p>Общее кол-во на входе:  шт.</p>
        <p>Общее кол-во на выходе:  шт. </p>
        <p>Общее кол-во дефектов:  шт</p>
        <p>Yield loss: </p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Номер Лота</th>
              <th scope="col">Кол-во на входе</th>
              <th scope="col">Кол-во на выходе</th>
              <th scope="col">Кол-во дефектов</th>
              <th scope="col">Рецепт</th> 
              <th scope="col">Материал</th>
              <th scope="col">Оснастка</th>
              <th scope="col">Комментарий</th>            
            </tr>
          </thead>
          <tbody>
            {% for item in resume %}
            <tr> 
              <th scope="row">{{item.id}}</th>
              <td>{{item.lot_name}}</td>
              <td>{{item.qty_in}}</td>
              <td>{{item.qty_out}}</td>
              <td>{{item.defects}}</td>
              <td>{{item.recipe}}</td>
              <td>{{item.materials}}</td>
              <td>{{item.tool_name}}</td>
              <td>{{item.comment}}</td>            
            </tr>
            {% endfor %}
          </tbody>
        </table>        
      </div>
    </div>
  </div>
</div>


<div class="py-4 text-center">
  <a class="btn btn-lg btn-primary btn-block" href="/report/{{product_t}}/{{tpp_t}}"> Назад </a>
</div>


<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="text-center row">
      <div class="col-6 col-md">
        <h5>GSN</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/pa">Pre-Assembly</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/ap">Attach Print</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/wb">Wire Bond</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/md">Molding</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/bp">Ball Placing</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/sing">Singulation</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/test">Test</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/pers">Personalization</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/msp">MSP</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>LED</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Attach Print </a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Wire bond</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Silicon</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Singulation</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Binning test</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Taping</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
</footer>
{% endblock %}
