{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}



<div class="container py-5">
    <div class="row align-items-md-stretch">
        <h2 class="text-center">{{process}}</h2>
        <a class="col-md-4" href="{{ url_for('.add_equipment', process=process) }}">
            <div class="h-100 p-3 bg-light border rounded-3 shadow text-center" >
                <h3>Добавить оборудование</h3>
            </div>
        </a>
         <a class="col-md-4" href="{{ url_for('.add_tool', process=process) }}">
            <div class="h-100 p-3 bg-light border rounded-3 shadow text-center" >
                <h3>Добавить оснастку</h3>
            </div>
        </a>
        <a class="col-md-4" href="{{ url_for('.add_materials', process=process) }}">
            <div class="h-100 p-3 bg-light border rounded-3 shadow text-center" >
                <h3>Добавить материал</h3>
            </div>
        </a> 
        <a class="col-md-4" href="{{ url_for('.add_uph', process=process) }}">
            <div class="h-100 p-3 bg-light border rounded-3 shadow text-center" >
                <h3>Добавить UPH продуктов</h3>
            </div>
        </a>           
    </div>
</div>

{% endblock %}
